<!DOCTYPE html>addBook
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
    />

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/static/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>

    <title th:text="${title}">Default Title</title>
</head>
<body>
<nav th:replace="fragments :: navigation">
</nav>
<body class="container-fluid">



<ul>
    <li th:each="book : ${books}" th:text="${book?.book_name}"></li>
</ul>

<p th:unless="${books.size()}"><i>No books yet</i></p>

<p><a class=" btn btn-danger"  th:href="@{'/addBook/' + ${authorId}}">Add books </a></p>
</body>
</html>